<div class="contextual_links">
    <div class="contextual_link_active">
        <a href="{% url 'dm_sensor' acp_id %}">View Sensor</a>
    </div>
    <div class="contextual_link">
        <a href="{% url 'dm_sensor_history' acp_id %}">History</a>
    </div>
    <div class="contextual_link">
        <a href="{% url 'dm_sensor_edit' acp_id %}">Edit</a>
    </div>
    <div class="contextual_link">
        <a href="{% url 'sensor_chart' acp_id %}">Readings</a>
    </div>
    <div class="contextual_link">
        <a href="{% url 'dm_sensor_type' 'acp_type_id' %}">Sensor Type</a>
    </div>
</div><!-- end contextual_links -->
