{% extends "cdbb.html" %}
{% load static %}
{% block title %}Person{% endblock %}

{% block header_title %}
Person {{ PERSON_ID }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumb">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/home_icon.png' %}" />
        </a>
    </div>
    <div class="breadcrumb">
        &gt; <a href="{% url 'people_person_list' %}">People</a>
    </div>
    <div class="breadcrumb">
        &gt; Person {{ PERSON_ID }}
    </div>
    {% block person_breadcrumbs %}
    {% endblock %}
</div>
{% endblock %}

{% block content %}

{% include "people/includes/person_tabs.html" %}

    {% block person_content %}
    {% endblock %}
{% endblock %} <!-- end content -->
