{% extends "people/person/person_template.html" %}
{% load static %}
{% block title %}{{ PERSON_ID }} Summary{% endblock %}

{% block head %}
    <!-- Our style sheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'people/css/edit.css' %}" />

    <!-- JS files -->
    <script src="{% static 'js/jsonpath.js' %}" charset="utf-8"></script>
    <script type='text/javascript' src="{% static 'people/js/person_edit.js' %}"></script>

    <!-- Page local script -->
    <script type="text/javascript">
        var PERSON_ID = '{{ PERSON_ID }}';
        var ACP_PERSON_ID = '{{ user.get_username }}';
        var ACP_PERSON_NAME = '{{ user.get_full_name }}';
        // This link will embed the correct acp_id value as was given for this page
        var PERSON_METADATA = JSON.parse('{{ PERSON_METADATA|escapejs }}');
    </script>
{% endblock %}

{% block header_title %}
Person Edit {{ PERSON_ID }}
{% endblock %}

{% block person_breadcrumbs %}
    <div class="breadcrumb">
        &gt; Edit
    </div>
{% endblock %} <!-- end person_breadcrumbs -->

{% block person_content %}
<h2>Edit Person Metadata: {{ PERSON_ID }}. Editor {{ user.get_full_name }} ({{ user.get_username }})</h2>

<form name="edit_form" id="edit_form"
    method="post"
    action="{{ PERSON_METADATA_SAVE_URL }}"
    spellcheck="false"
>
<!--    onsubmit="if(person.validate()){this.myDoc.value=oDoc.innerHTML;return true;}return false;"> -->
{% csrf_token %}
    <input type="hidden" name="plain_text_value" id="plain_text_value" value='{"foo": "bar"}'>
    <div id="edit_box" contenteditable="true">
        <p>No person metadata available</p>
    </div>
    <p>
        <button type="button" id="cancel_button">Cancel</button>
        <button type="button" id="save_button">Save</button>
        <!--
        <button type="button" onclick="person.format_selected('removeFormat')" >Clean</button>
        <button type="button" onclick="person.format_selected('bold')">Bold</button>
        <button type="button" name="switchMode" id="switchBox" onchange="person.showHTML(this.checked);">
            Debug HTML
        </button>
        -->
    </p>
</form>

<div id="error_box" class="error_box">
    <div id="error_box_close" class="error_box_close">
        <img src="{% static 'sensor/images/reading_close.png' %}" />
    </div>
    <div id="error_box_content" class="error_box_content">
        foo
    </div>
</div>

{% endblock %} <!-- end person_content -->

<!-- This script will always be placed at bottom of page (by master cdbb.html template) -->
{% block lazy_script %}
<script>
    console.log('lazy_script');
    var person = new PersonEdit();
    person.init();
</script>
{% endblock %} <!-- lazy_script -->
