{% extends "people/person/person_template.html" %}
{% load static %}
{% block title %}{{ PERSON_ID }} Summary{% endblock %}

{% block head %}
<!-- Our style sheets -->
<link rel="stylesheet" type="text/css" href="{% static 'people/css/person.css' %}" />

<script type='text/javascript' src="{% static 'people/js/person.js' %}"></script>

<!-- Page local script -->
<script type="text/javascript">
    var PERSON_ID = '{{ PERSON_ID }}';
    var PERSON_METADATA = JSON.parse('{{ PERSON_METADATA | escapejs }}');
</script>
{% endblock %}

{% block person_breadcrumbs %}
    <div class="breadcrumb">
        &gt; Summary
    </div>
{% endblock %} <!-- end sensor_breadcrumbs -->

{% block person_content %}
<div id="person_content">
    <h2>{{ PERSON_ID}} Metadata:</h2>
</div>

{% endblock %} <!-- end sensor_content -->

<!-- This script will always be placed at bottom of page (by master cdbb.html template) -->
{% block lazy_script %}
<script>
    console.log('lazy_script');
    var person = new Person();
    person.init();
</script>
{% endblock %} <!-- lazy_script -->
