{% extends "cdbb.html" %}
{% load static %}
{% block title %}CDBB Person List{% endblock %}

{% block head %}
    <!-- Our style sheets -->
    <link rel="stylesheet" type="text/css" href="/static_web/people/css/person_list.css" />

    <script type='text/javascript' src="/static_web/people/js/person_list.js"></script>

    <!-- Page local script -->
    <script type="text/javascript">
        var PERSON_LINK = "{% url 'people_person' 'person_id' %}"; // we will replace id as required
        //DEBUG temporary link ref to INST page
        var INST_LINK = "{% url 'people_person' 'inst_id' %}"; // we will replace id as required
        //DEBUG temporary link ref to BIM object page
        var BIM_LINK = "{% url 'people_person' 'crate_id' %}"; // we will replace id as required
        var API_PEOPLE_INFO = JSON.parse('{{ API_PEOPLE_INFO | escapejs }}');

    </script>
{% endblock %}

{% block header_title %}
Person list
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumb">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/home_icon.png' %}" />
        </a>
    </div>
    <div class="breadcrumb">
        <a href="{% url 'people_home' %}">
            People
        </a>
    </div>
    <div class="breadcrumb">
         &gt; Person list
    </div>
</div>
{% endblock %}

{% block content %}

<!-- A search box that can be used to filter results -->
<div id="list_search">
    <!-- JS will add an "onkeyup" event handler -->
    <input type="text" id="list_search_input" placeholder="Filter (multiple words will work)..."/>
</div>

<div id="person_list">
    <table id="person_list_table">
    <!-- JS will embed a row-per-person -->
    </table>
</div>

{% endblock %} <!-- end content -->

<!-- This script will always be placed at bottom of page (by master cdbb.html template) -->
{% block lazy_script %}
<script>
    console.log('lazy_script');
    var person_list = new PersonList();
    person_list.init();
</script>
{% endblock %} <!-- lazy_script -->
