{% extends "people/person/person_template.html" %}
{% load static %}
{% block title %}{{ PERSON_ID }} Summary{% endblock %}

{% block head %}
    <!-- Our style sheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'people/css/history.css' %}" />

    <script type='text/javascript' src="{% static 'people/js/person_history.js' %}"></script>

    <!-- Page local script -->
    <script type="text/javascript">
        var PERSON_ID = '{{ PERSON_ID }}';

        var API_PERSON_HISTORY = JSON.parse('{{ API_PERSON_HISTORY|escapejs }}');
    </script>
{% endblock %}

{% block header_title %}
Person History {{ PerSON_ID }}
{% endblock %}

{% block person_breadcrumbs %}
    <div class="breadcrumb">
        &gt; History
    </div>
{% endblock %} <!-- end person_breadcrumbs -->

{% block person_content %}

<div id="person_history">
    <h2>Person History</h2>
    <!-- javascript will add  person history data -->
</div>

<div id="popup">
    <div id="popup_close">
        <img src="{% static 'images/popup_close.png' %}"/>
    </div>
    <pre id="popup_content">
    </pre>
</div>

{% endblock %} <!-- end person_content -->

<!-- This script will always be placed at bottom of page (by master cdbb.html template) -->
{% block lazy_script %}
<script>
    console.log('lazy_script');
    var person_history = new PersonHistory();
    person_history.init();
</script>
{% endblock %} <!-- lazy_script -->
