{% extends "cdbb.html" %}
{% load static %}
{% block page_title %}CDBB About{% endblock %}
{% block title %}CDBB About{% endblock %}

{% block head %}
    <!-- Our style -->
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}"/>

    <!-- Our script -->
    <script type="text/javascript">
        FOO = '{{ foo }}';
    </script>
    <script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

{% block header_title %}
CDBB/RT: Background Information
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumb">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/home_icon.png' %}" />
        </a>
    </div>
    <div class="breadcrumb">
        &gt; About Us
    </div>
</div>
{% endblock %}

{% block content %}
About blah.. blah...
{% endblock %}
