{% extends "cdbb.html" %}
{% load static %}
{% block page_title %}CDBB Home Page{% endblock %}
{% block title %}CDBB Home{% endblock %}

{% block head %}
    <!-- Our style -->
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}"/>

    <!-- Our script -->
    <script type="text/javascript">
        FOO = '{{ foo }}';
    </script>
    <script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

{% block header_title %}
Real-time Building Information Management
{% endblock %}

{% block content %}

<div class="card_block_outer">
<div class="card_block_inner">

    <div class="card">
            <div class="card_title">
                About
            </div>
            <div class="card_image">
                <a class="card_link" href="https://pages.cdbb.uk">
                    <img src="{% static 'home/images/about.jpg' %}"/>
                </a>
            </div>
            <div class="card_text">
                <div class="card_text_content">
                    We're researching the urban and in-building digital infrastructure for the
                    cities of the future.
                    These pages provide detail on who we are, what we're doing, and why we're doing it.
                </div>
            </div>
    </div>

    <div class="card">
            <div class="card_title">
                Research
            </div>
            <div class="card_image">
                <a class="card_link" href="https://pages.cdbb.uk/research/">
                    <img src="{% static 'home/images/research.png' %}"/>
                </a>
            </div>
            <div class="card_text">
                <div class="card_text_content">
                    This information outlines how we've structured our work into specific research <i>themes</i>.
                </div>
            </div>
    </div>

    <div class="card">
            <div class="card_title">
                Projects
            </div>
            <div class="card_image">
                <a class="card_link" href="https://pages.cdbb.uk/projects/">
                    <img src="{% static 'home/images/acp_local_mqtt.png' %}"/>
                </a>
            </div>
            <div class="card_text">
                <div class="card_text_content">
                    We are building a substantial systems platform in support of the Adaptive City Programme and
                    the CDBB Digital Twin initiative. This information shows how that is structured into multiple
                    parallel projects.
                </div>
            </div>
    </div>

</div>
</div><!-- end card_block -->

<div class="card_divider">
    <div class="card_divider_left"></div>
    <div class="card_divider_center">Please note user authentication will be required below</div>
    <div class="card_divider_right"></div>
</div>

<div class="card_block_outer">
<div class="card_block_inner">
<div class="card">
        <div class="card_title">
            Space
        </div>
        <div class="card_image">
            <a class="card_link" href="{% url 'space_map' %}">
                <img src="{% static 'space/images/space.png' %}"/>
            </a>
        </div>
        <div class="card_text">
            <div class="card_text_content">
                Navigate a spatial view of the building and sensor
                data.
            </div>
        </div>
</div>

<div class="card">
        <div class="card_title">
            Sensors
        </div>
        <div class="card_image">
            <a class="card_link" href="{% url 'sensor_home' %}">
                <img src="{% static 'home/images/sensor.png' %}"/>
            </a>
        </div>
        <div class="card_text">
            <div class="card_text_content">
                Navigate the sensors to see real-time readings, time-series plots,
                and the sensor metadata.
            </div>
        </div>
</div>

</div>
</div><!-- end card_block -->

{% endblock %}
