{% extends "cdbb.html" %}
{% load static %}
{% block page_title %}CDBB Home Page{% endblock %}
{% block title %}CDBB Home{% endblock %}

{% block head %}
    <!-- Our style -->
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}"/>

    <!-- Our script -->
    <script type="text/javascript">
        FOO = '{{ foo }}';
    </script>
    <script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

{% block header_title %}
Real-time Building Information Management
{% endblock %}

{% block content %}

<div class="card_block_outer">
<div class="card_block_inner">

    <div class="card">
        <a class="card_link" href="https://pages.cdbb.uk">
            <div class="card_title">
                About
            </div>
            <div class="card_image">
                <img src="{% static 'home/images/about.jpg' %}"/>
            </div>
            <div class="card_text">
                <div class="card_text_content">
                    We're researching the urban and in-building digital infrastructure for the
                    cities of the future.
                </div>
            </div>
        </a>
    </div>

    <div class="card">
        <a class="card_link" href="https://pages.cdbb.uk/research/">
            <div class="card_title">
                Research
            </div>
            <div class="card_image">
                <img src="{% static 'home/images/research.png' %}"/>
            </div>
            <div class="card_text">
                <div class="card_text_content">
                    This information outlines how we've structured our work into specific research <i>themes</i>.
                </div>
            </div>
        </a>
    </div>

    <div class="card">
        <a class="card_link" href="https://pages.cdbb.uk/projects/">
            <div class="card_title">
                Projects
            </div>
            <div class="card_image">
                <img src="{% static 'home/images/acp_local_mqtt.png' %}"/>
            </div>
            <div class="card_text">
                <div class="card_text_content">
                    We are building a substantial systems platform in support of the Adaptive City Programme and
                    the CDBB Digital Twin initiative.
                </div>
            </div>
        </a>
    </div>

</div>
</div><!-- end card_block -->

<div class="card_divider">
    <div class="card_divider_left"></div>
    <div class="card_divider_center">Please note user authentication will be required below</div>
    <div class="card_divider_right"></div>
</div>

<div class="card_block_outer">
<div class="card_block_inner">
<div class="card">
    <a class="card_link" href="{% url 'space_home' %}">
        <div class="card_title">
            Space
        </div>
        <div class="card_image">
            <img src="{% static 'space/images/space.png' %}"/>
        </div>
        <div class="card_text">
            <div class="card_text_content">
                Navigate spatial views of building and sensor
                data.
            </div>
        </div>
    </a>
</div>

<div class="card">
    <a class="card_link" href="{% url 'sensor_home' %}">
        <div class="card_title">
            Sensors
        </div>
        <div class="card_image">
            <img src="{% static 'home/images/sensor.png' %}"/>
        </div>
        <div class="card_text">
            <div class="card_text_content">
                Navigate the sensors to see real-time readings, time-series plots,
                and the sensor metadata.
            </div>
        </div>
    </a>
</div>

<div class="card">
    <a class="card_link" href="{% url 'dm_home' %}"><!-- DEBUG need BIM url -->
        <div class="card_title">
            Data Management
        </div>
        <div class="card_image">
            <img src="{% static 'home/images/data_management.png' %}"/>
        </div>
        <div class="card_text">
            <div class="card_text_content">
                Administration pages for uploading and updating reference information on this
                platform, e.g. sensor metadata and building object data.
            </div>
        </div>
    </a>
</div>

</div><!-- end card_block_inner -->
</div><!-- end card_block_outer -->

{% endblock %}
