{% extends "data_management/sensor/sensor.html" %}
{% load static %}
{% block title %}{{ ACP_ID }} History{% endblock %}

{% block head %}
    <!-- Our style sheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'data_management/css/sensor_history.css' %}" />

    <!-- chart.js defines class SensorChart-->
    <script type='text/javascript' src="{% static 'data_management/js/sensor_history.js' %}"></script>

    <!-- Page local script -->
    <script type="text/javascript">
        var ACP_ID = '{{ ACP_ID }}'; // e.g. 'temperature'
        // Note this embeds "acp_type_id" in the link, to be replaced in the JS
        var SENSOR_TYPE_LINK = "{% url 'sensor_type' 'acp_type_id' %}";
        // This link will embed the correct acp_id value as was given for this page
        var SENSOR_CHART_LINK = "{% url 'sensor_chart' acp_id %}";

        var API_SENSOR_INFO = JSON.parse('{{ API_SENSOR_INFO|escapejs }}');
        var API_SENSOR_HISTORY = JSON.parse('{{ API_SENSOR_HISTORY|escapejs }}');
        var ACP_TYPE_INFO = JSON.parse('{{ ACP_TYPE_INFO|escapejs }}');

    </script>
{% endblock %}

{% block header_title %}
Sensor History {{ ACP_ID }}
{% endblock %}

{% block sensor_breadcrumbs %}
    <div class="breadcrumb">
        &gt; Metadata
    </div>
{% endblock %} <!-- end sensor_breadcrumbs -->

{% block sensor_content %}

<div id="sensor_history">
    <h2>Sensor History</h2>
    <!-- javascript will add  sensor history data -->
</div>

<div id="popup">
    <div id="popup_close">
        <img src="{% static 'images/popup_close.png' %}"/>
    </div>
    <pre id="popup_content">
    </pre>
</div>

{% endblock %} <!-- end sensor_content -->

<!-- This script will always be placed at bottom of page (by master cdbb.html template) -->
{% block lazy_script %}
<script>
    console.log('lazy_script');
    var sensor_history = new SensorHistory();
    sensor_history.init();
</script>
{% endblock %} <!-- lazy_script -->
