
/* test global css for base 'cdbb.html' template */

body {
    font-style: italic; /* This was initially just for style debug, but actually I quite like the retro vibe */
    background-color: lightblue; /* Again just for debug but hey, this is Cambridge */
}

/* PAGE HEADING CSS */

#page_header {
    width: 100%;
    height: 44px;
    display: flex;
    overflow-y: auto;
}

#header_left {
    height: 100%;
    display: inline-block;
}

#header_left img {
    height: 100%;
}

#header_middle {
    /* background-color: pink; */
    font-size: 36px;
    text-align: center;
    display: inline-block;
    min-width: 50px;
    flex-grow: 1;
}

#header_right {
    height: 100%;
    display: inline-block;
}

#header_right img {
    height: 100%;
}

/* CARD CSS (i.e. the stylish rectangular illustrated page links )*/

.card {
    box-shadow: 3px 3px #808080;
    display: inline-block;
    width:  250px;
    height: 350px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 10px;
}

.card:hover {
    box-shadow: 6px 6px #909090;
}

.card_title {
    width: 100%;
    text-align: center;
}

.card_image {
    width: 100%;
}

.card_image a {
    width: 100%;
}

.card_image img {
    width: 100%;
}

.card_text {
    width: 100%;
}

.card_text_content {
    margin: 5px;
    vertical-align: middle;
}
