
/* CSS for 'building' drawing */

html {
    height: 100%;
    margin: 0px;
}

body {
    height: 100%;
    margin: 0px;
}

.drawing_div {
    height: 90%;
    width: 60%;
    display: inline-block;
    border: black dashed 1px;
}

.drawing_svg {
    cursor: crosshair;
    width: 100%;
    height: 100%;
}

#legend_and_buttons{
    display: inline-block;
    vertical-align: top;
}

.tooltip {
    display: none;
}
