
#sensor_chart_link {
  background-image: url('charticon.png'); /* Add a search icon to input */
  background-position: 10px 5px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  background-color: #99ee99;
  width: 30%; /* Full-width */
  font-size: 24px; /* Increase font-size */
  padding: 12px 20px 12px 60px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

#sensor_chart_link a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#sensor_info {
    display: inline-block;
    vertical-align: top;
}

#sensor_metadata {
    background-color: #ffffff;
    padding: 4px;
    border-radius: 8px;
    font-family: sans-serif;
    font-style: normal;
    display: inline-block;
}

#type_info {
    display: inline-block;
    vertical-align: top;
}

#metadata {
    background-color: #ffffff;
    font-size: 0.8em;
    padding: 3px;
    border-radius: 8px;
    font-family: sans-serif;
    font-style: normal;
    display: inline-block;
}

#type_heading {
    color: red;
}

#type_heading_type {
    display: inline-block;
}
