{% extends "cdbb.html" %}
{% load static %}
{% block page_title %}CDBB Logout{% endblock %}
{% block title %}CDBB Logout{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block header_title %}
Logout
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumb">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/home_icon.png' %}" />
        </a>
    </div>
    <div class="breadcrumb">
        &gt; Logged Out
    </div>
</div>
{% endblock %}

{% block content %}
<div class="center_container">
    <div class="center_item">
        <p>Logged out!</p>
        <a href="{% url 'login'%}">Click here to login again.</a>
    </div>
</div>
{% endblock %}
