{% extends "cdbb.html" %}
{% load static %}
{% block page_title %}Success{% endblock %}
{% block title %}Success{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block header_title %}
Password Reset Success!
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumb">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/home_icon.png' %}" />
        </a>
    </div>
    <div class="breadcrumb">
        &gt; Password Reset
    </div>
</div>
{% endblock %}

{% block content %}
  <h1>Success! Your password has been changed.</h1>
  <p><a href="{% url 'login' %}">log in again?</a></p>
{% endblock %}
