{% extends "cdbb.html" %}
{% load static %}
{% block page_title %}CDBB Building{% endblock %}
{% block title %}CDBB Building Page Title{% endblock %}

{% block head %}
    <!-- Our style sheets -->
    <link rel="stylesheet" href="{% static 'space/css/space.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'space/css/building.css' %}" />

    <!-- Local copy of d3 -->
    <script type="text/javascript" src="{% static 'js/d3.v6_5.min.js' %}"></script>

    <!-- JS SCRIPT for space snd building -->
    <script type="text/javascript" src="{% static 'space/js/space.js' %}"></script>

    <!-- viz_tools contains some common rendering functions -->
    <script type="text/javascript" src="{% static 'space/js/viz_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/VizTools2.js' %}"></script>

    <!-- building.js defines class SpaceBuilding -->
    <script type='text/javascript' src="{% static 'space/js/building.js' %}"></script>

    <!-- Page local script -->
    <script type="text/javascript">
        API_BIM = '{{ API_BIM }}';
        API_SENSORS = '{{ API_SENSORS }}';
        API_READINGS = '{{ API_READINGS }}';
        API_SPACE = '{{ API_SPACE }}';
        CRATE_ID = '{{ CRATE_ID }}';
        URL_FLOOR = '{% url "space_floor" "crate_id" %}'
    </script>
{% endblock %}

{% block header_title %}
Spatial Building and Sensor Data: BUILDING VIEW
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumb">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/home_icon.png' %}" />
        </a>
    </div>
    <div class="breadcrumb">
        &gt; <a href="{% url 'space_map' %}">Map</a>
    </div>
    <div class="breadcrumb">
        &gt; Building {{ CRATE_ID }}
    </div>
</div>
{% endblock %}

{% block content %}
    <div id="drawing_coords">0,0</div>

    <div class="drawing_div" id='main_drawing_div'>
        <svg id="drawing_svg">
        </svg>
    </div>
{% endblock %} <!-- content -->

<!-- This script will always be placed at bottom of page (by master cdbb.html template) -->
{% block lazy_script %}
<script>
    console.log('lazy_script');
    var space_building = new SpaceBuilding();
    space_building.init();
</script>
{% endblock %} <!-- lazy_script -->
