{% extends "cdbb.html" %}
{% load static %}
{% block page_title %}CDBB Floorspace{% endblock %}
{% block title %}CDBB Floorspace Page Title{% endblock %}

{% block head %}
    <!-- Our style sheets -->
    <link rel="stylesheet" href="{% static 'space/css/space.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'space/css/floorspace.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'space/css/style.css' %}" />

    <!-- Local copy of d3 -->
    <script type="text/javascript" src="{% static 'js/d3.v5.min.js' %}"></script>

    <!-- JS SCRIPT for space snd building -->
    <script type="text/javascript" src="{% static 'space/js/space.js' %}"></script>

    <!-- viz_tools contains some common rendering functions -->
    <script type="text/javascript" src="{% static 'space/js/viz_tools.js' %}"></script>

    <!-- building.js defines class SpaceBuilding -->
    <script type='text/javascript' src="{% static 'space/js/floorspace.js' %}"></script>

    <!-- Page local script -->
    <script type="text/javascript">
        API_BIM = '{{ API_BIM }}';
        API_SENSORS = '{{ API_SENSORS }}';
        API_READINGS = '{{ API_READINGS }}';
        API_SPACE = '{{ API_SPACE }}';
        CRATE_ID = '{{ CRATE_ID }}';
    </script>
{% endblock %}

{% block header_title %}
Spatial Building and Sensor Data: FLOORSPACE VIEW
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumb">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/home_icon.png' %}" />
        </a>
    </div>
    <div class="breadcrumb">
        &gt; <a href="{% url 'space_map' %}">Map</a>
    </div>
    <div class="breadcrumb">
        &gt; Building
    </div>
    <div class="breadcrumb">
        &gt; Floor
    </div>
    <div class="breadcrumb">
        &gt; Floorspace {{ CRATE_ID }}
    </div>
</div>
{% endblock %}

{% block content %}
<div id="drawing_coords">0,0</div>

<div class="drawing_div" id="main_drawing_div">
    <svg class="drawing_svg" id="drawing_svg">
    </svg>
</div>

<!-- TODO:change div ids so that no two would have same id -->
<div id="bim_info">
     <h2>BIM information</h2>
     <div class="content" id="bim_content">
     </div>
</div>

 <div id="sensor_info">
     <h2>Sensor information</h2>

     <div class="content" id="sensor_content">
    </div>
 </div>

<!-- TOOLTIP - will be made visible/invisible as mouse moves over sensors -->
<div id="tooltip" class="tooltip">
</div>
{% endblock %} <!-- content -->

<!-- This script will always be placed at bottom of page (by master cdbb.html template) -->
{% block lazy_script %}
<script>
    console.log('lazy_script');
    var space_floorspace = new SpaceFloorspace();
    space_floorspace.init();
</script>
{% endblock %} <!-- lazy_script -->
