{% extends "cdbb.html" %}
{% load static %}
{% block title %}CDBB Space Home{% endblock %}

{% block head %}

{% endblock %}

{% block header_title %}
Space
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumb">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/home_icon.png' %}" />
        </a>
    </div>
    <div class="breadcrumb">
         &gt; Space
    </div>
</div>
{% endblock %}

{% block content %}

<div class="card">
        <div class="card_title">
            Space
        </div>
        <div class="card_image">
            <a class="card_link" href="{% url 'space_map' %}">
                <img src="{% static 'space/images/space.png' %}"/>
            </a>
        </div>
        <div class="card_text">
            <div class="card_text_content">
                Navigate a spatial view of our data starting with a map.
            </div>
        </div>
</div>

<div class="card">
        <div class="card_title">
            Rain
        </div>
        <div class="card_image">
            <a class="card_link" href="{% url 'space_rain_home' %}">
                <img src="{% static 'space/images/floor_rain.png' %}"/>
            </a>
        </div>
        <div class="card_text">
            <div class="card_text_content">
                View real-time heatmaps updating with live sensor data.
            </div>
        </div>
</div>

<div class="card">
        <div class="card_title">
            Splash
        </div>
        <div class="card_image">
            <a class="card_link" href="{% url 'space_splash_home' %}">
                <img src="{% static 'space/images/floor_splash.png' %}"/>
            </a>
        </div>
        <div class="card_text">
            <div class="card_text_content">
                View sensor status updating with live sensor data.
            </div>
        </div>
</div>

<div class="card">
        <div class="card_title">
            Rotas 2000
        </div>
        <div class="card_image">
            <a class="card_link" href="{% url 'space_rotas_home' %}">
                <img src="{% static 'space/images/floor_rotas.png' %}"/>
            </a>
        </div>
        <div class="card_text">
            <div class="card_text_content">
                View ROTAS visualisation for time scrubbing.
            </div>
        </div>
</div>

<div class="card">
    <div class="card_title">
        Cerberus
    </div>
    <div class="card_image">
        <a class="card_link" href="{% url 'cerberus' %}">
            <img src="{% static 'space/images/cerberus_dogs.png' %}"/>
        </a>
    </div>
    <div class="card_text">
        <div class="card_text_content">
            View 2D Cerberus "ROTAS" visualisations.
        </div>
    </div>
</div>

{% endblock %}
