{% extends "cdbb.html" %}
{% load static %}
{% block page_title %}CDBB Map Page{% endblock %}
{% block title %}CDBB Map Page Title{% endblock %}

{% block head %}
    <!-- Our style -->
    <link rel="stylesheet" href="{% static 'space/css/space.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'space/css/map.css' %}" />

    <!-- LEAFLET -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
       integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
       crossorigin="" />
    <script type="text/javascript" src="{% static 'space/js/d3.v5.min.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin="">
    </script>

    <!-- LEAFLET MARKERCLUSTER -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <!-- JS SCRIPT from space.js and map.js -->
    <script type="text/javascript" src="{% static 'space/js/space.js' %}"></script>

    <!-- map.js defines class SpaceRenderMap -->
    <script type='text/javascript' src="{% static 'space/js/map.js' %}"></script>

    <!-- Page local script -->
    <script type="text/javascript">
        API_BIM = '{{ API_BIM }}';
        API_SENSORS = '{{ API_SENSORS }}';
        URL_BUILDING = "{% url 'space_building' 'crate_id' %}";
    </script>
{% endblock %}

{% block header_title %}
Spatial Building and Sensor Data: MAP VIEW
{% endblock %}

{% block content %}
    <div id="map"></div>
{% endblock %}

<!-- This script will always be placed at bottom of page (by master cdbb.html template) -->
{% block lazy_script %}
<script>
    console.log('lazy_script');
    var space_render_map = new SpaceRenderMap();
    space_render_map.init();
</script>
{% endblock %}
