<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
   <head profile="http://gmpg.org/xfn/11">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>ACP Sensor Map</title>
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/map.css') }}?v=0.0.1">
      <link rel= "stylesheet" type= "text/css" href= "https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
      <link rel= "stylesheet" type= "text/css" href= "https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

      <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>

      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
      <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
   </head>

   <body>

      <div id="map"></div>

      <script type='text/javascript' src="{{ url_for('static',filename='js/mapscript.js') }}?v=1.0.3"></script>
   </body>
</html>
