{% extends "cdbb.html" %}
{% load static %}
{% block title %}CDBB Sensor Select{% endblock %}

{% block head %}
    <!-- Our style sheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'sensor/css/select.css' %}" />

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- chart.js defines class SensorChart-->
    <script type='text/javascript' src="{% static 'sensor/js/select.js' %}"></script>

    <!-- Page local script -->
    <script type="text/javascript">
        var API_BIM = '{{ API_BIM }}';
        var API_SENSORS = '{{ API_SENSORS }}';
        var API_READINGS = '{{ API_READINGS }}';
        var API_SPACE = '{{ API_SPACE }}';
    </script>
{% endblock %}

{% block header_title %}
Select Sensor
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumb">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/home_icon.png' %}" />
        </a>
    </div>
    <div class="breadcrumb">
         &gt; Select Sensor
    </div>
</div>
{% endblock %}

{% block content %}
<div class="selection_wrapper">

<form id="selection_form">
    <div class="selection_input">
        <div class="input_label">Date:</div>
        <div class="input_box">
            <input type="date" name="date" id="form_date" value="2020-03-15">
        </div>
    </div>
    <div class="selection_input">
        <div class="input_label">Source:</div>
        <div class="input_box">
            <select id="source" name="source" onchange="getSensor()">
                <option>Select source</option>
                <option>mqtt_acp</option>
                <option>mqtt_ttn</option>
                <option>mqtt_csn</option>
            </select>
        </div>
    </div>
    <div class="selection_input">
        <div class="input_label">Sensor:</div>
        <div class="input_box">
            <select id="sensor" name="sensor" onchange="getFeature()">
                <option value="">Select sensor</option>
            </select>
        </div>
    </div>
    <div class="selection_input">
        <div class="input_label">Feature:</div>
        <div class="input_box">
            <select id="feature" name="feature">
                <option>Select feature</option>
            </select>
        </div>
    </div>
    <button id="updateButton" onclick="chart_init()">Show sensor</button>
</form>

</div> <!-- end selection_wrapper -->

{% endblock %} <!-- end content -->

<!-- This script will always be placed at bottom of page (by master cdbb.html template) -->
{% block lazy_script %}
<script>
    console.log('lazy_script');
    //var space_floor = new SpaceFloor();
    //space_floor.init();
    select_init();
</script>
{% endblock %} <!-- lazy_script -->
