{% extends "cdbb.html" %}
{% load static %}
{% block title %}CDBB Sensor List{% endblock %}

{% block head %}
    <!-- Our style sheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'sensor/css/sensor_list.css' %}" />

    <!-- chart.js defines class SensorChart-->
    <script type='text/javascript' src="{% static 'sensor/js/sensor_list.js' %}"></script>

    <!-- Page local script -->
    <script type="text/javascript">
        var API_SENSORS = '{{ API_SENSORS }}';
        var FEATURE = '{{ FEATURE }}'; // e.g. 'temperature'
    </script>
{% endblock %}

{% block header_title %}
Sensor list
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumb">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/home_icon.png' %}" />
        </a>
    </div>
    <div class="breadcrumb">
        &gt; <a href="{% url 'sensor_home' %}">Sensors</a>
         &gt; Sensor list
    </div>
</div>
{% endblock %}

{% block content %}

<div id="sensor_list">
</div>

{% endblock %} <!-- end content -->

<!-- This script will always be placed at bottom of page (by master cdbb.html template) -->
{% block lazy_script %}
<script>
    console.log('lazy_script');
    var sensor_list = new SensorList();
    sensor_list.init();
</script>
{% endblock %} <!-- lazy_script -->
