{% extends "cdbb.html" %}
{% load static %}
{% block title %}CDBB BIM Object{% endblock %}

{% block header_title %}
Bim Object {{ CRATE_ID }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumb">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/home_icon.png' %}" />
        </a>
    </div>
    <div class="breadcrumb">
        &gt; <a href="{% url 'dm_home' %}">Data Management</a>
    </div>
    <div class="breadcrumb">
        &gt; <a href="{% url 'dm_bim_home' %}">BIM</a>
    </div>
    <div class="breadcrumb">
        &gt; BIM Object {{ CRATE_ID }}
    </div>
    {% block bim_breadcrumbs %}
    {% endblock %}
</div>
{% endblock %}

{% block content %}
<!-- in block content of sensor_type.html -->
{% include "data_management/includes/bim_tabs.html" %}

    {% block bim_content %}
    {% endblock %}
{% endblock %} <!-- end content -->
